# Series

In [9]:
import pandas as pd
from pandas import Series

In [10]:
obj = Series([3, 6, 9, 12])

In [11]:
obj

0     3
1     6
2     9
3    12
dtype: int64

## Series内のデータのみを取り出す:values

In [12]:
obj.values

array([ 3,  6,  9, 12])

## インデックスを内容を確認:index

In [13]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [15]:
ww2_cas['USA']

400000

In [16]:
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [17]:
ww2_cas > 4000000

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [18]:
'USSR' in ww2_cas

True

## Seriesを基に辞書を作る

In [19]:
ww2_cas_dict = ww2_cas.to_dict()

In [20]:
ww2_cas_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

## 辞書からSeriesへ変換

In [21]:
ww2_Series = Series(ww2_cas_dict)

In [22]:
ww2_Series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

## インデックスを明示的に与える

In [23]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [24]:
obj2 = Series(ww2_cas_dict, index=countries)

In [25]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

## Nullがあるか調べる

In [26]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [27]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [28]:
ww2_Series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [29]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [30]:
ww2_Series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

## Series全体に名前をつける

In [32]:
obj2.name = '第二次世界大戦の死傷者数'

In [33]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者数, dtype: float64

In [34]:
obj2.index.name = 'Countries'

In [35]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者数, dtype: float64

# DataFrame

In [43]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [51]:
#import webbrowser
#website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
#webbrowser.open(website)

## clipboard()でデータ呼び出し

In [54]:
nfl_frame = pd.read_clipboard()

In [55]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North

## columnsの確認

In [57]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

## データにアクセス

In [60]:
nfl_frame['Total Games']

0      882
1    1,336
2    1,370
3      800
4      884
5      870
Name: Total Games, dtype: object

In [61]:
nfl_frame.Team

0             Dallas Cowboys
1          Green Bay Packers
2              Chicago Bears
3             Miami Dolphins
4    New England Patriots[b]
5          Minnesota Vikings
Name: Team, dtype: object

In [62]:
nfl_frame[['Team', 'Total Games']]

                      Team Total Games
0           Dallas Cowboys         882
1        Green Bay Packers       1,336
2            Chicago Bears       1,370
3           Miami Dolphins         800
4  New England Patriots[b]         884
5        Minnesota Vikings         870